body {
  background: url("https://images.unsplash.com/photo-1619467416348-6a782839e95f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") center center no-repeat;
  margin-bottom: 50px;
  border: 0 35px solid, color, white;
  border-radius: 30px;
  overflow: none;
  width: 95%;
  border-radius: 5%;
}
.all-form{
  margin-right: 10%;
  margin-left: 15%;
  
}
h4 {
  font-family: monospace;
  font-size: 60px;
  color:coral;
  margin-left: 20%;
  font-weight: bold;

}

form .form-icons {
  border-radius: 25%;
  
}

form .form-icons h4 {
  margin-bottom: 1rem;
  
  
}

form .form-icons .input-group-label {
  background-color: #1779ba;
  border-color: #1779ba;
 
  
}

form .form-icons .input-group-field {
  border-color: #1779ba;
  
 
}

form .form-icons .fa {
  color: white;
  width: 1rem;
  margin-left: 10%;
  
}
.input-group-field {
  border-color: #1779ba;
};


h1 {
  font-family: monospace;
  font-size: 40px;
  color:coral;
  margin-left: 20%;
  font-style: oblique;
  font-weight:bold;
  
}
.callout {
  margin-left: 10%;
  margin-right: 5%;
  opacity: 90%;
}

.polls {
  margin-bottom: 1rem;
}

.polls .polls-question {
  margin-bottom: .5rem;
  
}

.polls .polls-question .polls-question-label {
  color: #1779ba;
  font-size: xx-large;
  margin-right: .25rem;
}

.polls .polls-submit {
  margin-top: .3rem;
}

.polls .polls-submit .button {
  margin-right: .5rem;
  text-transform: uppercase;
}


.checkbox1 {
  font-size: xx-large;
  font-family: monospace;
  font-weight: bold;
  color:teal;
  border-color: blanchedalmond;
}
.checkbox2 {
  font-size:x-large;
  font-family: monospace;
  border-color:coral;
}
.checkbox1-a {
  
    font-size:x-large;
    font-family: monospace;
    border-color:coral;
  }
.checkbox3 {
  font-size:x-large;
  font-family: monospace;
  border-color:coral;
}
.checkbox4 {
  font-size:x-large;
  font-family: monospace;
  border-color:coral;
}


.status-update-input-box {
  background-color: #fefefe;
  padding: 1rem;
  width: 100%;
  border: 1px solid #cacaca;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.18), 0 0.125rem 2px rgba(0, 0, 0, 0.36);
}

.status-update-input-box .input-box-container textarea {
  margin-bottom: 0;
}

.status-update-input-box .input-box-container textarea:focus {
  border: 1px solid #cacaca;
  box-shadow: none;
}

.status-update-input-box .input-box-container textarea, .status-update-input-box .input-box-container textarea:focus {
  border-bottom: none;
}

@media print, screen and (min-width: 40em) {
  .status-update-input-box .user-action-container {
    margin-right: 0;
    margin-left: 0;
  }
}

.status-update-input-box .user-action-container .user-action-box {
  padding: 0;
  border: 1px solid #cacaca;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.status-update-input-box .user-action-container .user-action-box .action-area {
  width: 20%;
  border-right: 0.0625rem solid #cacaca;
  text-align: center;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
}

.status-update-input-box .user-action-container .user-action-box .action-area:last-of-type {
  border-right: none;
}

.status-update-input-box .user-action-container .user-action-box .action-area .action-anchor.has-tip {
  border-bottom: none;
  cursor: pointer;
}

.status-update-input-box .user-action-container .user-action-box .action-area .action-anchor .fa {
  color: #1779ba;
}

.status-update-input-box .user-action-container .user-submit-box {
  padding: 0.35rem 0.5rem;
  border: 1px solid #cacaca;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 39.9375em) {
  .status-update-input-box .user-action-container .user-submit-box {
    border-top: none;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media print, screen and (min-width: 40em) {
  .status-update-input-box .user-action-container .user-submit-box {
    border-left: none;
  }
}

.status-update-input-box .user-action-container .user-submit-box .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .status-update-input-box .user-action-container .user-submit-box .button {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

