
.social-links {
  display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 3fr;
  grid-row-start: 1;
  color:rgb(227, 129, 25);
  font-size: 25px;
  background: linear-gradient(90deg);
  font-stretch: extra-expanded;
  text-decoration: underline;
  background-color:whitesmoke;
  border-radius: 12px;
  opacity: 90%;
 }
  
  .social-links a {
    color: white;
    font-size: 1.2rem;
  }

  
  .social-links i.fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    padding-bottom: 1rem;
  }
  
  @media screen and (max-width: 39.9375em) {
    .social-links {
    display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 0fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .social-links i.fa {
      font-size: 2rem;
      display: inline-block;
      padding-right: 0;
      padding-bottom: 0.5rem;
    }
    .social-links a {
      font-weight: bold;
    }
    .social-links .columns {
      margin: 1rem 0;
    }
    .social-links .mobile-stack {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
.container-row-1 {
  display: block;
  padding: 10px 10px;
  font-family: "Unite", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase
}

h1 {
  font-size: 25px;
}

.link {
  cursor: pointer;
}